/*
 * @Author: FBB
 * @Date: 2020-08-22 15:12:41
 * @LastEditors: FBB
 * @LastEditTime: 2020-08-27 15:07:11
 * @Description: CSS动画合集
 */

.rotate {
  animation: rotate 20s linear infinite;
  animation-play-state: running;
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  &--paused {
    animation-play-state: paused;
  }
}

//进入动画
.fade-enter {
  top: 100vh;
}
.fade-enter-active {
  top: 30vh;
  transition: top 1s ease-in;
}
.fade-enter-done {
  top: 30vh;
}
//退出动画
.fade-exit {
  top: 30vh;
}
.fade-exit-active {
  top: 100vh;
  transition: top 1s ease-in;
}
.fade-exit-done {
  top: 100vh;
}

.full-enter,
.full-appear {
  transform: rotateZ(20deg) translate3d(100%, 0, 0);
}

.full-enter-active,
.full-appear-active {
  transition: transform 0.3s;
  transform: rotateZ(0deg) translate3d(0, 0, 0);
}
.full-exit {
  transform: rotateZ(0deg) translate3d(0, 0, 0);
}
.full-exit-active {
  transition: transform 0.3s;
  transform: rotateZ(-20deg) translate3d(-100%, 0, 0);
}
.full-exit-done {
  transform: rotateZ(0deg) translate3d(-100%, 0, 0);
}

.mini-enter,
.mini-appear {
  transform: translate3d(100%, 50%, 0);
}
.mini-enter-active,
.mini-appear-active {
  transform: translate3d(0, 0, 0);
  transition: all 0.4s;
}
.mini-exit-active {
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s;
}
