.home {
  position: relative;
  background-color: #fff;

  &__container {
    overflow: scroll;
    padding: 55px 0 55px;
  }

  &__banner {
    width: 90vw;
    padding: 10px 0 15px;
    margin: auto;
    border-radius: 15px;

    .carousel .slider-wrapper {
      border-radius: 5px;
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #eee;

    .icon {
      &__item {
        .item {
          &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
            width: 45px;
            margin: 0 auto;
            border-radius: 22.5px;
            background-color: @bgColor;

            img {
              height: 22px;
              width: 22px;
            }
          }

          &__title {
            padding-top: 10px;
            color: #999;
            font-size: 12px;
            text-align: center;
          }
        }
      }
    }
  }

  &__personalized {
    padding: 0 15px;

    .personalized {
      &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;

        .title {
          font-size: 20px;
          font-family: @PingFangSC-Medium;
        }

        .redirect {
          padding: 4px 10px;
          border: 1px solid #999;
          border-radius: 15px;
          font-size: 14px;
          color: #666;
        }
      }
    }
  }
}

/* 排行榜 */
.rank {
  margin-bottom: 55px;
  overflow: scroll;
  background-color: #fff;

  &__container {
    padding: 55px 4vw 0;
  }

  &__content {
    padding-top: 15px;
  }

  &__title {
    color: #333333;
    font-size: 18px;
    font-family: @PingFangSC-Medium;
    font-weight: 500;
  }
}

/* 歌单 */
.music {
  &__content {
    padding: 95px 0 10px;
  }
}

/* 歌手 */
.singer {
  &__container {
    padding: 95px 0 65px;
  }
}

.songlistDetail {
  &__bg {
    position: absolute;
    height: 250px;
    width: 100%;
    filter: blur(15px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  &__header {
    padding: 65px 0 0 4vw;
    display: flex;
    flex-direction: row;
    .bg {
      height: 100px;
      width: 100px;
      border-radius: 5px;
      z-index: 2;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 4vw;
      z-index: 2;
      .title {
        font-size: 16px;
        color: #fff;
        font-family: @PingFangSC-Medium;
      }
      .creator {
        padding-top: 20px;
      }
      .avatar {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        vertical-align: middle;
      }
      .nick {
        padding-left: 10px;
        font-size: 13px;
        color: #fff;
        font-family: @PingFangSC-Thin;
      }
    }
  }
}
